version: 2.1

orbs:
  yarn: artsy/yarn@6.0.0
  auto: artsy/auto@1.4.0

workflows:
  build_and_verify:
    jobs:
      - yarn/update-cache
      - yarn/jest
      - yarn/run:
          name: validate-config
          script: renovate-config-validator
      - auto/publish-canary:
          context: npm-deploy
          filters:
            branches:
              ignore: master
          requires:
            - validate-config
            - yarn/update-cache
            - yarn/jest
      - auto/publish:
          context: npm-deploy
          filters:
            branches:
              only: master
          requires:
            - validate-config
            - yarn/update-cache
            - yarn/jest
