version: 2.1

orbs:
  node: artsy/node@0.1.0
  yarn: artsy/yarn@0.0.2

jobs:
  test:
    executor: node/build
    steps:
      - yarn/setup
      - run: yarn test
  deploy:
    executor: node/build
    steps:
      - yarn/setup
      # Setup the .npmrc with the proper registry and auth token to publish
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run: yarn release
  update-cache:
    executor: node/build
    steps:
      - yarn/update_dependencies

workflows:
  build_and_verify:
    jobs:
      - update-cache
      - test
      - deploy:
          # The deploy job is the _only_ job that should have access to our npm
          # tokens. We include a context that has our publish credentials
          # explicitly in this step. https://circleci.com/docs/2.0/contexts/
          context: npm-deploy
          filters:
            branches:
              only:
                - master
          requires:
            - update-cache
            - test
